<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.6.6/dist/vuetify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.6.6/dist/vuetify.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    <title></title>
</head>
<body>
<div id="app">
    <v-app>
        <div style="min-height: 100vh" class="bg-grey-lighten-4">
            <v-container>
                <div class="d-flex justify-center">
                    <div class="text-h3 font-weight-thin mt-10">
                        What is ChatHub?
                        <div class="d-flex justify-center">
                            <v-divider class="mt-5 mb-7 border-opacity-25" thickness="2" color="black"
                                       style="max-width: 20%"></v-divider>
                        </div>
                    </div>
                </div>

                <v-row no-gutters class="d-flex justify-center align-center ga-10" style="min-height: 60vh;">
                    <v-col cols="5" class="d-flex align-center">
                        <div class="text-h6 font-weight-light mx-auto">
                            ChatHub is a web service where you can chat with friends or strangers on various topics. If
                            you can't find a topic that interests you, simply create your own chat room and start
                            chatting! ChatHub offers a dynamic platform for engaging conversations, making it easy to
                            connect with people who share your interests. Whether you're looking to discuss hobbies, get
                            advice, or meet new people, ChatHub provides a friendly and flexible environment for all
                            your chatting needs. Join the conversation and explore the diverse world of ChatHub today!
                        </div>
                    </v-col>
                </v-row>
            </v-container>
        </div>


        <div style="min-height: 100vh" class="bg-blue-grey-lighten-4">
            <v-container>
                <div class="d-flex justify-center">
                    <div class="text-h3 font-weight-thin mt-10">
                        How does it work?
                        <div class="d-flex justify-center">
                            <v-divider class="mt-5 mb-7 border-opacity-25" thickness="2" color="black"
                                       style="max-width: 20%"></v-divider>
                        </div>
                    </div>
                </div>

                <v-container>
                    <div class="text-xl-body-1 font-weight-light mx-auto text-center" style="max-width: 40vw">
                        Creating and joining servers is simple and intuitive.
                        <br>
                        <div class="mt-2">
                            First, select the option to create a server, where you can customize settings and invite
                            others.<br>
                            Alternatively, join an existing server by searching the name of the chatroom or even a
                            random room! <br>Once inside, you're free to start writing immediately. Engage in
                            conversations, share ideas, and collaborate with others in real time.
                        </div>
                        <br>
                        <form action="http://localhost:8080/register">
                            <v-btn variant="plain" type="submit">
                                Sounds interesting? &nbsp; Join now!
                            </v-btn>
                        </form>
                    </div>

                    <v-row no-gutters class="d-flex justify-center align-center ga-10" style="min-height: 60vh;">
                        <v-col cols="5" class="d-flex align-center">
                            <v-img src="ChatOverviewBild.png" class="rounded-xl mx-auto" max-width="700"
                                   min-width="700"></v-img>
                        </v-col>
                        <v-col cols="5" class="d-flex align-center">
                            <v-img src="ChatAnsichtBild.png" class="rounded-xl mx-auto" max-width="600"></v-img>
                        </v-col>
                    </v-row>
                </v-container>
            </v-container>
        </div>
        <v-col class="text-center mt-4" cols="12">
            {{ new Date().getFullYear() }} — <strong>Erik Weidenauer & Aleksa Nikolic</strong>
        </v-col>
        </v-row>
        </v-footer>
    </v-app>
</div>
</body>

<script>
    const {createApp} = Vue
    const {createVuetify} = Vuetify

    const vuetify = createVuetify()

    const app = createApp()
    app.use(vuetify).mount('#app')
</script>
</html>

<style scoped>
    @font-face {
        font-family: 'gentona_light';
        src: url('//assets.webadmin.ufl.edu/fonts/files/gentona_light-webfont.eot');
        src: url('//assets.webadmin.ufl.edu/fonts/files/gentona_light-webfont.eot?#iefix') format('embedded-opentype'),
        url('//assets.webadmin.ufl.edu/fonts/files/gentona_light-webfont.woff') format('woff'),
        url('//assets.webadmin.ufl.edu/fonts/files/gentona_light-webfont.ttf') format('truetype'),
        url('//assets.webadmin.ufl.edu/fonts/files/gentona_light-webfont.svg#gentonalight') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    html, body {
        scroll-behavior: smooth;
    }

    .title_font {
        font-family: gentona_light, serif;
    }
</style>
